%h1 Users

%table
  %tr
    %th First Name
    %th Last Name
    %th Role
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Flag', "/users/#{user.id}/flag"
%br/
= link_to 'New User', new_user_path

= will_paginate @users

