%h1 Users

%table
  %tr
    %th  
    %th First Name
    %th Last Name
    %th Role
    %th E-mail
    %th Phone
    %th Address
    %th Background
  %tr
    %td= image_tag @user.user_photo
    %td= @user.first_name
    %td= @user.last_name
    %td= @user.role
    %td= @user.email
    %td= @user.phone
    %td= @user.address
    %td= @user.background_info
    
%br/
= link_to 'Edit', edit_user_path(@user)
%br/
|
= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
|
= link_to 'New User', new_user_path
