= form_for @room do |f|

  .field
    = f.label :room_name
    = f.text_field :room_name
  .field
    = f.label :seats
    = f.number_field :seats
  .field
    = f.label :room_photo, 'Photo of Room'
    = f.file_field :room_photo
  .field
    = radio_button_tag :room_type, 'classroom'
    = radio_button_tag :room_type, 'office'
    = radio_button_tag :room_type, 'event space'
    = radio_button_tag :room_type, 'co-working space'
    = radio_button_tag :room_type, 'common area'
  .actions
    = f.submit 'Save Room Information'


