= form_for @course do |f|

  .field
    = f.label :course_name
    = f.text_field :course_name
  .field
    = f.label :date, 'Date of Course'
    = f.date_select :date
  .field
    = f.label :time, 'Time of Course'
    = f.time_select :time
  .field
    = f.label :course_photo, 'Enter a course image'
    = f.file_field :course_photo
  .field
    = f.label :about, 'Course Description'
    = f.text_field :about
  .field
    = f.label :instructor_id, 'Course Instructor'
    = select_tag :instructor_id, options_from_collection_for_select(@instructors, :id, :first_name)
  .field
    = f.label :room_id, 'Room'
    = select_tag :room_id, options_from_collection_for_select(@rooms, :id, :room_name)

  .actions
    = f.submit 'Save Course Info'

     